/* .container{
    padding-right: 2rem;
    height:100vh;
    border: 5px dashed green;
    overflow:hidden;
    position:relative;
} */
/* .conte1{
    border: 4px dashed red;
    position: relative;
    height: 50vh;

}

.img-move{
    position: absolute;
    top:0;
    right:0;
}
.img1{
    width:70%;
    height:70%;
    transform: scaleX(-1) rotate(10deg); 
    top:10%;
}

.img2{
    width:30%;
    height:50%;
    top:12%;
    right: 15%;
    border: 1px solid blue;
    border-radius: 50%;

}
 */



