.card-title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}
.btn1{
    background-color:#3282AD;
    color:white;
    padding:2px 2rem;
    margin-top:1rem;
}  