.container
{
    border: 1px solid red;

}
.container-test-component{
    border: 1px solid red;
    /* height:10vh; */
    width: 50vh;  

    transition: height .5s ease-in;
      
}
/* .container-test-component:hover{        height:30vh;

} */

/* .container-test-component>h4{
    display: none;
} */